-i https://pypi.org/simple
asgiref==3.7.2; python_version >= '3.7'
attrs==23.1.0; python_version >= '3.7'
django==4.2.6; python_version >= '3.8'
django-cleanup==8.0.0
django-cors-headers==4.1.0; python_version >= '3.7'
django-debug-toolbar==4.2.0; python_version >= '3.8'
django-environ==0.11.2; python_version >= '3.6' and python_version < '4'
django-filter==23.3; python_version >= '3.7'
django-phonenumber-field==7.2.0; python_version >= '3.8'
djangorestframework==3.14.0; python_version >= '3.6'
drf-spectacular==0.26.5; python_version >= '3.6'
drf-yasg==1.21.7; python_version >= '3.6'
flake8==6.1.0; python_full_version >= '3.8.1'
inflection==0.5.1; python_version >= '3.5'
jsonschema==4.19.1; python_version >= '3.8'
jsonschema-specifications==2023.7.1; python_version >= '3.8'
mccabe==0.7.0; python_version >= '3.6'
packaging==24.1; python_version >= '3.8'
phonenumbers==8.13.23
pillow==10.1.0; python_version >= '3.8'
psycopg2-binary==2.9.9; python_version >= '3.7'
pycodestyle==2.11.1; python_version >= '3.8'
pyflakes==3.1.0; python_version >= '3.8'
python-dotenv==1.0.0; python_version >= '3.8'
pytz==2023.3.post1
pyyaml==6.0.1; python_version >= '3.6'
referencing==0.30.2; python_version >= '3.8'
rpds-py==0.10.6; python_version >= '3.8'
sorl-thumbnail==12.10.0; python_version >= '3.8'
sqlparse==0.4.4; python_version >= '3.5'
typing-extensions==4.8.0; python_version >= '3.8'
uritemplate==4.1.1; python_version >= '3.6'
